*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{
    background-color: var(--primary);
    
}

main
{
    position: relative;
}

#theme-toggle
{
position: fixed;
    bottom: 10%;
    right: 5%;
    padding: 0.8rem 1rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 4px 4px 0px #0000001c;
    z-index: 99;
    background-color: var(--theme-toggle-bg);
    color: var(--theme-toggle-txt);
    text-shadow: 0px 0px 20px var(--theme-toggle-shadow);
    font-size: 1.1rem;
}

#theme-toggle:hover
{
   opacity: 0.7;
    box-shadow: 0px 0px 4px 4px #ffffff0a;
}

#theme-toggle i
{

}
