*{
    margin: 0;
    padding: 0;

}

body
{
    background-color: rgb(23, 23, 23);
}
.squer
{
    width: 5rem;
    height: 5rem;
    background-color: orange;
    box-shadow: 0px 4px 4px 0px orange;
    position: absolute;
    bottom: 0;
    left: 50%;
    top:82%;
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-delay: 2ms;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    
    transition-property: top;
    transition-duration: 1000ms;
}

.circle
{
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    background-color: red;
    box-shadow: 0px 4px 4px 0px red;
    position: absolute;
    bottom: 0;
    left: 25%;
    top:50%;
    animation-name: scale;
    animation-timing-function: ease-in-out;
    animation-delay: 2000ms;
    animation-duration: 1000ms;
    
     transform: scale(1);
    transition-property: scale;
    transition-duration: 1000ms;
}

@keyframes bounce {
    0%{

        transform:translateY(82%);
        animation-timing-function: ease-out;
    }
    /* 25%
    {
        top:62%
    } */
    50%
    {
        transform:translateY(-200px);
        
        animation-timing-function: ease-in;
    }
    /* 75%
    {
        top:62%
    } */
    100%
    {
           transform:translateY(0px);
        animation-timing-function: ease-out;
    }

}

@keyframes scale {
    0%,100%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(2);
    }
    
}