.navbar {
  display: flex;
  height: 20vh;
  background-color: transparent;
  flex-wrap: nowrap;
  flex-direction: row;
  /* gap: 10rem; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0rem 3rem;
  top: 0;
  width: 100vw;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

/* #navbarbar Scrolled */
.navbar-scrolled {
  height: 12vh;
  box-shadow: 0px 4px 4px 0px #00000017;
  background-color: white;
}

.navbar-scrolled ul li a {
  padding: 1.5rem 1rem;
}

.logo {
}

.logo h1 {
  font-size: 2.5rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  padding: 3rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover {
  background-color: #ffffff21;
  border-radius: 1rem;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.login-btn {
  width: 10rem;
}

.login-btn button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  transition: all 1s ease-in-out;
}

/* MObile Navbar */

#navbar-mobile {
 display: none;
  height: 11vh;
  background-color: white;
  flex-wrap: nowrap;
  flex-direction: row;
  /* gap: 10rem; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0rem 3rem;
  top: 0;
  width: 100vw;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.logo h1 {
  font-size: 2.5rem;
}

#navbar-mobile ul {
  display: none;
  flex-direction: column;
  /* align-items: center; */
  align-items: start;
  position: absolute;
  top: 100%;
  gap: 1rem;
  left: 0;
  /* text-align: right; */
  padding: 0rem 1rem;
  background-color: white;
  color: var(--dark);
  width: 100%;
  border-top: 1px solid #0000000d;
  max-height: 0vh;
  transition: all 1s ease-in-out;
}

#navbar-mobile ul li {
  list-style: none;
}

#navbar-mobile ul li a {
  text-decoration: none;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--dark);
  transition: all 0.3s ease-in-out;
}

#navbar-mobile ul li a:hover {
 
}

#navbar-mobile .logo h1 {
  background: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
}

#bars {
  padding: 0rem 1rem;
  font-size: 2rem;
  border-radius: 0.7rem;
  color: #838383;
  background-color: transparent;
  border: 1px solid #838383;
}



@media (max-width: 575.98px) {
  #navbar-mobile {
    display: flex;
  }

  #navbar {
    display: none;
  }

  .login-btn {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #navbar-mobile {
    display: flex;
  }

  #navbar {
    display: none;
  }
  .login-btn {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #navbar-mobile {
    display: flex;
  }

  #navbar {
    display: none;
  }
  .login-btn {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #navbar-mobile {
    display: none;
  }

  #navbar {
    display: flex;
  }
  .login-btn {
    display: block;
  }

  /* Hero Section */
  

  /* About Section */
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  #navbar-mobile {
    display: none;
  }

  #navbar {
    display: flex;
  }
  .login-btn {
    display: block;
  }

  .hero-section
  {
    padding: 9.1rem 9rem 0rem 9.1rem;
  }
}

@media (min-width: 1400px) {
  #navbar-mobile {
    display: none;
  }

  #navbar {
    display: flex;
  }
  .login-btn {
    display: block;
  }
}
