/* Hero Section */
.hero-section {
  height: 38rem;
  width: 100%;
  margin-top: 3rem;
}

.hero-img {
  width: 100%;
  height: 92vh;
  position: relative;
  background-image: url("./img/cat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-img::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  color: white;
  font-size: 5rem;
}

.pat-btn {
  background-color: rgb(117, 0, 165);
  color: white;
  padding: 0.5rem 4rem;
  margin: 1.1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid #0000006b;
  box-shadow: 0px 4px 4px 0px #0000006b;
}

.pat-btn:hover {
  background-color: white;
  color: rgb(117, 0, 165);
  transition: all 0.3s ease-in-out;
}

/* Profile Card Section */
.profile-card-section {
  margin-top: 1rem;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #7b3dca, #9736a9, #b42d86);
}

.profile-card-container {
  width: 17rem;
  height: 27rem;
  border-radius: 0.6rem;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #ffffff30;
  transition: all 0.3s ease-in-out;
}

.profile-card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 18px 0px white;
}

.profile-photo {
  position: relative;
  top: -10%;
  height: 14vh;
  border-radius: 50%;
  width: 7vw;
  background-image: url(./img/cat.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 33%;
  border: 3px solid #a52e66;
  box-shadow: 0px 4px 22px 13px #a52e6661;
}

.profile-data {
  height: 54vh;
  margin-top: -1rem;
  display: flex;
  border-bottom-radius: 2rem;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

.profile-data h2 {
  color: #942f5f;
}

.profile-data h5 {
  color: #62686b;
  text-align: center;
  margin-top: 0.5rem;
}

.profile-card-container .reach {
  display: flex;
  height: 6vh;
  margin-top: 2rem;
  gap: 1.3rem;
  color: #3f515b;
  font-weight: bold;
  justify-content: center;
}

.reach div {
  display: flex;
  flex-direction: column;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  font-size: 1.4rem;
}

.social-media div {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  align-content: center;
  margin-top: 1.3rem;
}

.social-media div a {
  color: white;
  font-size: 1rem;
}

.yt {
  background: linear-gradient(to bottom, #fa0025, #fb4951b8);
}
.li {
  background: linear-gradient(to bottom, #2c82aa, #5ca1c1d9);
}
.in {
  background: linear-gradient(to bottom, #c41558, #e5795a);
}
.gh {
  background: linear-gradient(to bottom, #434343, #6b6b6bd1);
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 17rem;
  margin-top: 2.2rem;
  align-items: center;
}
.btn button {
  height: 2.2rem;
  border-radius: 1rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
}
.follow-btn {
  background-color: #cb004f;
}

.message-btn {
  background-color: #5647f8;
}

.product-card-section {
  margin-top: 1rem;
  height: 93vh;
  background-color: white;
  padding: 2rem;
}

.product-card-container-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.3rem;

  justify-content: center;
  align-items: center;
}

.product-card-container {
  display: flex;
  flex-direction: row;
  max-width: 61rem;
  width: 55rem;

  gap: 1rem;
  height: 86%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.product-card {
  flex: 0 0 auto;
  width: 11rem;
  height: 22rem;
  border-radius: 1.2rem;
  box-shadow: 0px 4px 11px 3px #00000063;
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.1);
}
.product-card-inner {
  display: flex;
  flex-direction: column;
  height: 90%;
}
.product-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 47%;
  width: 100%;
  margin-top: 0.5rem;
}
.product-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  text-align: center;
  gap: 0.8rem;
  color: #332f2f;
}
.product-name {
}

.product-des {
  color: #332f2f91;
  height: 3rem;
  text-align: justify;
  font-size: 0.8rem;
  margin: 0px 1.3rem;
}

.product-price {
  font-weight: bold;
  font-size: 1.2rem;
}

.ratting {
  font-size: 1.3rem;
}

.buy-btn {
  width: 100%;
  bottom: 0;
  position: relative;

  height: 2.4rem;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  border: none;
  background-color: #0f0f0f;
  color: white;
  box-shadow: 0px 4px 11px 3px #00000063;
}

.buy-btn:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

/* pricing-table-section */
.pricing-table-section {
  height: 93vh;
  background-color: #f6f6ff;
  padding: 2rem;
}

.pricing-table-section > h1 {
  text-align: center;
  color: #676070;
}

.pricing-table-wrapper {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.pricing-table {
  width: 23vw;
  height: 75vh;
  border-radius: 0.9rem;
  /* border: 1px solid #0000001f; */
  box-shadow: 0px 4px 20px 0px #00000066;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.pricing-table:hover {
  background: linear-gradient(to top, #6271d8, #909be7);
  transform: scale(1.1);
}

.pricing-table:hover h1 {
  color: white;
}

.pricing-table:hover p {
  color: white;
}

.pricing-table:hover .info {
  color: white;
}
.pricing-table:hover button {
  color: #6b78d9;
  background: white;
  border: 1px solid #6b78d9;
}

.pricing-table h1 {
  font-size: 2.9rem;
  color: wihte;
  color: #414754;
}

.pricing-table p {
  font-size: 1.2rem;
  color: #686f85;
  font-weight: bold;
}

.details {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  color: #6e747d;
  font-weight: bold;
}

.info span {
  padding: 1rem;
  border-top: 2px solid #d1d1d1;
}

.pricing-table button {
  background: linear-gradient(to left, #6572d8, #8792e5);
  margin-top: 2.5rem;
  height: 2.7rem;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
}

/* Grid Card */

.grid-card-section {
  height: 93vh;
  background-color: #cbcbcb;
  padding: 2rem;
}

.grid-card-container {
  
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-card {
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 20px 0px #00000066;
}

/* Testimonial */

.testimonial-section {
  height: 70vh;
  background-color: white;
  padding: 2rem;
}

.testimonial-wrapper {
  border: 1px solid red;
  height: 100%;
  width: 100%;
}

.testimonial-container {
   display: flex
;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.testimonial-card {
   width: 22rem;
    border-radius: 0.2rem;
    box-shadow: 0px 4px 13px 0px #0000009e;
      background-color: #ededed;
    height: 17rem;
    margin-top: 2rem;
}



.test-photo
{
     position: relative;
    height: 6rem;
    width: 6rem;
    border: 6px solid white;
    top: -17%;
    left: 37%;
    background-image: url(./img/cat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.test-data
{
    padding: 0rem 1rem;
    margin-top: -3rem;
    text-align: center;
        display: flex;
    flex-direction: column;
    gap: 4rem;
}

.test-des
{
padding: 0rem 0.2rem;
    margin-top: 1.5rem;
}

.test-des span
{
        font-size: 1.6rem;
    color: #d38c2e;
}

.test-name
{

}

.test-name span
{
color: #d38c2e;
    font-size: 1.2rem;
    font-weight: bold;
}